{% extends "base_3.html"%}
{% block content %}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <form action="/login" method="post">
                <div class="row gy-2">
                    <label for="exampleInputAccount">Account</label>
                    <input type="email" class="form-control" id="exampleInputAccount" aria-describedby="accountHelp"
                           name="InputAccount" placeholder="Enter Account" required>
                </div>
                <div class="row gy-2">
                    <label for="exampleInputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword" name="InputPassword"
                           placeholder="Password">
                </div>
                <br>
                <small id="accountHelp" class="form-text text-muted">{{message}}</small>
                <br>
                <button type="submit" class="btn btn-outline-success">Submit</button>
                <br>
                <br>
                <br>
                <a class="btn btn-outline-primary" href="/register"><h6>Register</h6></a>
            </form>
        </div>
    </div>
</section>
{%endblock%}